        * {
            margin: 2px;
            padding: 2px;
        }
        
        body {
            background-color: darkgoldenrod;
        }
        
        .wrapper {
            position: relative;
            overflow-x: hidden;
        }
        
        .menu {
            position: fixed;
            left: 0;
            top: 0;
            width: 30%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: SaddleBrown;
            transition: 1s;
            transform: translateX(-100%);
        }
        
        .menu-active {
            transform: translateX(0%);
        }
        
        .menu-list {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            flex-direction: column;
        }
        
        .menu-list a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }
        
        .menu-btn {
            width: 35px;
            height: 35px;
            background: no-repeat center/100% url(burger.jpg);
            border-radius: 10px;
            position: absolute;
            right: -45px;
            top: 17.5%;
        }
        
        .news1 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            width: 25%;
            height: 29.35%;
            position: absolute;
            top: 27.95%;
            left: 3.3%;
            text-align: center;
            flex-direction: column;
        }
        
        .news1-photo {
            background: no-repeat center/100% url(basketbol.jpg);
            border-radius: 10px;
            height: 60%;
            width: 80%;
            padding: 15px;
        }
        
        .news1-text {
            text-align: center;
            font-size: 24px;
        }
        
        .news2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            width: 25%;
            height: 29.35%;
            position: absolute;
            top: 27.95%;
            left: 37.25%;
            text-align: center;
            flex-direction: column;
        }
        
        .news2-photo {
            background: no-repeat center/100% url(munchen.jpg);
            border-radius: 10px;
            height: 60%;
            width: 80%;
            padding: 15px;
        }
        
        .news2-text {
            text-align: center;
            font-size: 24px;
        }
        
        .news3 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            width: 25%;
            height: 29.35%;
            position: absolute;
            top: 27.95%;
            left: 71.0%;
            text-align: center;
            flex-direction: column;
        }
        
        .news3-photo {
            background: no-repeat center/100% url(school1.jpg);
            border-radius: 10px;
            height: 60%;
            width: 80%;
            padding: 15px;
        }
        
        .news3-text {
            text-align: center;
            font-size: 24px;
        }
        
        .news4 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            width: 25%;
            height: 29.35%;
            position: absolute;
            top: 66.54%;
            left: 3.3%;
            text-align: center;
            flex-direction: column;
        }
        
        .news4-photo {
            background: no-repeat center/100% url(einschtein.jpg);
            border-radius: 10px;
            height: 60%;
            width: 80%;
            padding: 15px;
        }
        
        .news4-text {
            text-align: center;
            font-size: 24px;
        }
        
        .news5 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            width: 25%;
            height: 29.35%;
            position: absolute;
            top: 66.54%;
            left: 37.25%;
            text-align: center;
            flex-direction: column;
        }
        
        .news5-photo {
            background: no-repeat center/100% url(pferdewallfahrt.jpg);
            border-radius: 10px;
            height: 60%;
            width: 80%;
            padding: 15px;
        }
        
        .news5-text {
            text-align: center;
            font-size: 24px;
        }
        
        .news6 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            width: 25%;
            height: 29.35%;
            position: absolute;
            top: 66.54%;
            left: 71.00%;
            text-align: center;
            flex-direction: column;
        }
        
        .news6-photo {
            background: no-repeat center/100% url(fakt.jpg);
            border-radius: 10px;
            height: 60%;
            width: 80%;
            padding: 15px;
        }
        
        .news6-text {
            text-align: center;
            font-size: 24px;
        }
        
        @media all and (max-width: 1200px)
        .glavimg {
            background: no-repeat center/100% url(glav.jpg);
            width: 100vm;
            height: 12.5vh;
            border-radius: 35px;
        }

        @media all and (max-width: 420px)
        .glavimg {
            background: no-repeat center/100% url(glav.jpg);
            width: 100vm;
            height: 12.5vh;
            border-radius: 20px;
        }
        
        .ru-content {
            font-size: 20px;
            border-radius: 20px;
            border-style: solid;
            border: 1px;
            background: white;
            padding: 15px;
            position: absolute;
            left: 3.3%;
            top: 27.95%;
            width: 43%;
        }
        
        .content-active {
            visibility: visible;
        }
        
        .content-not-active {
            visibility: hidden;
        }
        
        .de-content {
            font-size: 20px;
            border-radius: 20px;
            border-style: solid;
            border: 1px;
            background: white;
            padding: 15px;
            position: absolute;
            right: 3.3%;
            top: 27.95%;
            width: 43%;
        }
        
        .text-center {
            text-align: center;
        }
        
        .title-site {
            position: absolute;
            top: 16%;
            left: 42%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .title-text {
            font-size: 45px;
        }
        
        p {
            padding: 5px;
        }
        
        h2 {
            padding: 10px;
            text-align: center;
        }
        
        .img {
            display: flex;
            text-align: center;
            padding: 5px;
            justify-content: center;
            align-items: center;
        }
        
        .futbol {
            background: no-repeat center/100% url(futbol.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .handbol {
            background: no-repeat center/100% url(handbol.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .basketbol {
            background: no-repeat center/100% url(basketbol.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .biatlon {
            background: no-repeat center/100% url(biatlon.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .berlin {
            background: no-repeat center/100% url(berlin.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .hamburg {
            background: no-repeat center/100% url(hamburg.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .munchen {
            background: no-repeat center/100% url(munchen.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .koln {
            background: no-repeat center/100% url(koln.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .dusseldorf {
            background: no-repeat center/100% url(dusseldorf.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .school1 {
            background: no-repeat center/100% url(school1.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .school2 {
            background: no-repeat center/100% url(school2.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .school3 {
            background: no-repeat center/100% url(school3.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .school4 {
            background: no-repeat center/100% url(school4.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .school5 {
            background: no-repeat center/100% url(school5.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .school6 {
            background: no-repeat center/100% url(school6.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .school7 {
            background: no-repeat center/100% url(school7.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .school8 {
            background: no-repeat center/100% url(school8.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .otto-von-bismark {
            background: no-repeat center/100% url(otto-von-bismark.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .bach {
            background: no-repeat center/100% url(bach.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .bethoven {
            background: no-repeat center/100% url(bethoven.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .brandt {
            background: no-repeat center/100% url(brandt.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .durer {
            background: no-repeat center/100% url(durer.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .einschtein {
            background: no-repeat center/100% url(einschtein.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .luter {
            background: no-repeat center/100% url(luter.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .merkel {
            background: no-repeat center/100% url(merkel.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .schumacher {
            background: no-repeat center/100% url(schumacher.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .oktoberfest {
            background: no-repeat center/100% url(oktoberfest.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .pferdewallfahrt {
            background: no-repeat center/100% url(pferdewallfahrt.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .silvester {
            background: no-repeat center/100% url(silvester.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
        
        .schultute {
            background: no-repeat center/100% url(schultute.jpg);
            height: 250px;
            width: 500px;
            padding: 15px;
        }
